body {
  background-color: #0a0a0a;
}

.main-home {
  display: flex;
  justify-content: center; 
  align-items: normal; 
  height: 100vh;          
  background: linear-gradient(45deg, #00000013 25%, #13121200 25%, #2f222206 50%, #00000005 50%, #00000010 75%, #39222207 75%);
  background-size: 50px 50px;
}

.Fst-home {
  margin-top: 70px;
  display: flex;
  width: 80%; 
  max-width: 1050px;
  height: 300px;
  text-align: center;
  line-height: auto;
  border: 0.5px solid rgba(173, 9, 28, 0.23);
  border-radius: 51px;
  background: linear-gradient(to right, rgba(220, 10, 10, 0.041), rgba(105, 40, 40, 0.036), rgba(255, 0, 0, 0.123), rgba(162, 36, 36, 0.096));
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 10px 20px rgba(214, 215, 236, 0.2);
}

.Fst-home {
  transition: transform 0.7s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.Fst-home:hover {
  transform: scale(1.1) translateY(-10px);
  box-shadow: 0 10px 20px rgba(246, 243, 244, 0.767); 
}

.Fsttxt-box {
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
  font-family: 'Poppins', sans-serif;
  color: wheat;
}

.logo-box {
  width: 180px;
  height: 250px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.Fst-hng {
  margin-bottom: 10px; 
}

.Sec-hng {
  margin-top: 0; 
}

